# Core
fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35
alembic==1.13.2
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9   # for Postgres

# Auth
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0

# Validation
pydantic[email]  # ensures email-validator is properly registered
twilio==9.3.1 # SMS

